.navbar {
  display: none;
  &__content {
    display: flex;
    list-style-type: none;
    gap: 4rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__item {
    background: transparent;
    padding: 0.1rem;
    text-decoration: none;
    color: #fff;

    & > &__container {
      background: transparent;
      padding: 0.6rem 0;
    }
  }

  &__item--active {
    background: linear-gradient(90deg, #964cf0, #170033);
    padding: 0.1rem;
    border-radius: 2rem;
    text-decoration: none;
    color: #fff;

    & > &__container {
      background: #000;
      border-radius: 1.9rem;
      padding: 0.6rem 3rem;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    display: block;
  }
}
