.contact {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 1.2rem;
  align-items: center;
  gap: 1rem;

  & img {
    width: 4.4rem;
  }

  &__title {
    font-weight: 500;
  }
}
