.works {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;

  &__bg {
    position: absolute;
    background: radial-gradient(
      circle,
      rgba(116, 59, 200, 1) 0%,
      rgba(94, 43, 43, 0) 60%
    );
    inset: -30%;
    z-index: -1;
  }

  &__btn {
    height: max-content;
    background-color: #000;
    border: 0.2rem solid #743bc8;
    border-radius: 1rem;
    display: flex;
    cursor: pointer;
    flex-shrink: 0;
    z-index: 2;

    &.swiper-button-disabled {
      opacity: 0.4;
      cursor: default;
    }
  }

  &__items {
    width: 100%;
    min-width: 0;
    padding-bottom: 3rem;
  }

  &__slide {
    height: auto;
    display: flex;
  }

  .swiper-pagination-bullet {
    background-color: #743bc8;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}
