.app {
  display: flex;
  gap: 4rem;
  flex-direction: column;

  &__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__section-title {
    background-color: #000;
    color: #fff;
    border: 0.2rem solid #743BC8;
    font-size: 1.6rem;
    width: max-content;
    justify-self: center;
    padding: 1.2rem 4rem;
    border-radius: 1rem;
    margin: 0 0 4rem 0;
  }

  &__about {
    margin-top: 11.2rem;
  }
  
}